// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Container
// -------------------------------------

%l-container, .l-container {
  @extend %group;
  @include box-sizing(border-box);
  margin: 0 auto;
  max-width: $l-maxWidth;
  padding: 0 percent(10px, 320px);
  @include respond-to($l-min-large) {
    padding: 0 percent($base-whitespace);
  }
}


// -------------------------------------
//   Grid
// -------------------------------------

%l-grid, .l-grid {
  @include clearfix;
}

%l-cell, .l-cell {
  float: left;
}



// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block {
  display: block;
}

%l-condense, .l-condense {
  margin-bottom: rem($base-whitespace / 2);
}

%l-pullLeft, .l-pullLeft {
  float: left;
}

%l-pullRight, .l-pullRight {
  float: right;
}

%l-space, .l-space {
  margin-bottom: $base-whitespace;
}

%l-xspace, .l-xspace {
  margin-bottom: $base-whitespace * 2;
}