<div class="col-md-12">
</div>
<h3>Rankings</h3>
<%= render partial: 'players/table', locals: {no_zeros: true, no_title: true} %>
<h3>Recent Matches</h3>
<%= render partial: 'match/table', :locals => {limit: 10, no_title: true} %>
