<div class="col-md-12">
</div>
<article class="module full-width">
  <header>
    <h3>Rankings</h3>
  </header>
  <%= render partial: 'players/table', locals: {no_zeros: true, no_title: true} %>
</article>
<article class="module full-width">
  <header>
    <h3>Recent Matches</h3>
  </header>
  <%= render partial: 'matches/table', :locals => {limit: 10, no_title: true} %>
</article>
