<%= get_header %>
<div class="col-md-12">
  <h2 class="new-match"><%= link_to('Start New Match', new_match_path, {class: 'button btn-edit fi-star'}) %></h2>
</div>
<% if current_player %>
  <div class="current-player">
    <h2><%= "#{avatar_big(current_player)} ##{current_player.ranking(true)} #{current_player.name} (#{match_record(current_player)}, #{game_record(current_player)}) #{logout_link}".html_safe %></h2>
  </div>
<% end %>
<h3>Rankings</h3>
<%= render partial: 'players/table', locals: {no_zeros: true, no_title: true} %>

