<div class="clearfix">
  <div class="col-md-4">
    <h4>Rival</h4>
    <% other = @player.calculate_rival %>
    <%= other ? player_link(other) : "You have no equal" %>
  </div>
  <div class="col-md-4">
    <h4>Punching Bag</h4>
    <% other = @player.calculate_punching_bag %>
    <%= other ? player_link(other) : "You ARE the weakest link" %>
  </div>
  <div class="col-md-4">
    <h4>Nemesis</h4>
    <% other = @player.calculate_nemesis %>
    <%= other ? player_link(other) : "No haters" %>
  </div>
</div>